/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for body */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(15, 28, 33); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styles for container */
.container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(15, 28, 33); 
}

/* Styles for heading */
h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles for paragraph */
p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

/* Styles for button */
button {
    padding: 12px 24px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: 2px solid #4CAF50; /* Green border */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s; /* Apply transition to all properties */
    display: block; /* Change to block to center the button */
    margin: 0 auto; /* Center the button horizontally */
}

/* Hover effect for button */
button:hover {
    background-color: #45a049; /* Darker Green */
    border-color: #45a049; /* Darker Green border */
    box-shadow: 0 0 10px rgb(15, 28, 33); 
}

/* Styles for button container */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate button from other content */
}