<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study of PER3 Gene Polymorphism</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&display=swap">
</head>
<body>
    <div class="header"> 
        <div class="black-rectangle"></div>  
        <div class="header__logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='svg/moon3.svg') }}" alt="Logo" class="logo">
            </a>
        </div>
        <nav class="navbar">
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="{{ url_for('home') }}" class="navbar__link"><span>Home</span></a>
                </li>
                <li class="navbar__item">
                    <a href="{{ url_for('about') }}" class="navbar__link"><span>About</span></a>        
                </li>
                <li class="navbar__item">
                    <a href="mailto:decodeyourclockgene@gmail.com" class="navbar__link"><span>Contact</span></a>        
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <br>
        <br>
        <h1>Study of PER3 Gene Polymorphism in Regulating Sleep Patterns in Indian Population</h1>
        <p>Sleep is a physiological state marked by reduced mental and physical activity, 
        altered consciousness, and inhibited sensory activity. It plays a crucial role in various brain 
        functions, facilitating communication among neurons. Recent research indicates that sleep functions as a housekeeping mechanism, removing brain toxins that accumulate during wakefulness. Regulated by the circadian rhythm, sleep is intricately linked to processes such as alertness, appetite, and body temperature. The circadian rhythm, governed by the body's internal clock aligned with day-night cycles, can be disrupted by travel, work, or underlying issues. Understanding the polymorphism of the PER3 (period circadian regulator 3) gene is essential for circadian rhythm regulation.</p>
        <p>This investigation focuses on determining the temporal peak of alertness within an 
        individual's circadian rhythm, exploring the relationship between genotype, phenotype, and the critical analysis of the PER3 gene. A detailed chronotype quiz complements genetic investigation, contributing to a multifaceted phenotypic assessment. Integrating genotypic and phenotypic data forms comprehensive participant profiles, and rigorous statistical analyses provide insights into the relationship between PER3 gene markers and sleep patterns. In conclusion, this research project significantly advances our understanding of the interplay between genetics and observable traits, particularly in sleep preferences. State-of-the-art molecular techniques and refined genetic analyses aim to reveal patterns guiding personalized approaches to sleep
        management and healthcare interventions, contributing to a robust paradigm for sleep-related research</p>
        
        
        <div class="box-container">
            <div class="box">
                <h3>What You Do?</h3>
                <ul>
                    <li>Make a difference with your nails!</li>
                    <li>Register your details</li>
                    <li>Take the Chronotype Quiz</li>
                    <li>Discover if you are a lark or an owl</li>
                    <li>Provide your nail sample</li>
                    <li>Wait for the test results & personalized insights</li>
                </ul>
            </div>
            <div class="box">
                <h3>What We Do?</h3>
                <ul>
                    <li>Isolate genomic DNA from nail</li>
                    <li>PCR amplify the Clock Gene (PER3)</li>
                    <li>Agarose gel electrophoresis</li>
                    <li>Genotyping & Statistical Analysis</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
